/* Responsiveness thanks to w3schools */
* {
	box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


/* Main */
body {
	font-family: Inconsolata;
	margin: 0;
	width:100%;
} 

.wikiname {color: #555555; text-align: right;}

.headerbar {
	padding:10px; 
	margin: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,331554+100 */
background: #a7cfdf; /* Old browsers */
background: -moz-linear-gradient(45deg, #a7cfdf  0%, #331554 100% ); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #a7cfdf  0%, #331554 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #a7cfdf  0%, #331554 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#331554',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width:100%;
	 
}

.headerbar a {color:black;}

.serviceheaderbar {
	padding:10px; 
	margin: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,331554+100 */
background: #dfa7cf; /* Old browsers */
background: -moz-linear-gradient(0deg, #a7cfdf 0%, #fada96 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(0deg, #a7cfdf 0%,#fada96 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(0deg, #a7cfdf 0%,#fada96 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#fada96',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width:100%;
}

.menubar {
	padding:10px; 
	margin: 0 auto;
	background-color:#fada96;
	width:100%;
	position:sticky;
	top:0px;
	left:0px;
}

h2 { 
	font-size:xx-large;
}

#content {
	margin: 10px;
	padding: 50px;
}

#content img {
    max-width: 80%;
    height: auto;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #fada96;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.transcluded {
  background-color: #eeeeff;
  padding:10px;
}
